<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bootcamplayoutspart2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".simplerecycler.SimpleRecyclerActivity"
            android:label="Simple-type Example"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".simplerecyclerwithpagination.SimpleRecyclerWithPaginationActivity"
            android:label="Pagination Example"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".simplerecyclerwithmultitype.SimpleRecyclerWithMultiTypeActivity"
            android:label="Multi-type Example"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".staggeredrecycler.StaggeredRecyclerActivity"
            android:label="Staggered-type Example"
            android:parentActivityName=".HomeActivity" />
    </application>

</manifest>